* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana;
  
}

.nav-container{
  display: flex;
  background-color: rgb(172, 170, 170);
}

.navbar{
  display: flex;
}
 
.navbar a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 1em;
}

.navbar a:hover{
  background-color: rgb(116, 114, 114);
}

.navbar a.current{
  color: #000000;
  font-weight: bold;
  pointer-events: none;
  background-color: #ffffff;
}
.burger{
    display: none;
  }


/*Большой экран*/
@media (min-width: 1400px) {
  .navbar a {
    font-size: 20px;
  }
}

/*Средний экран*/
@media (max-width: 1399px) and (min-width: 1000px) {
  .navbar a {
    font-size: 15px;
  }
}

/* Мобильная версия*/
@media (max-width: 1000px) {

  .navbar a {
    font-size: 45px; /* ← увеличенный размер шрифта на мобильных */
    padding: 1em;
    text-align: center;
  }
  .navbar{
    display: none;
  }
  
.burger{
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: rgb(172, 170, 170);
}

.burger_item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 6px;
  background-color: #ffffff;
  transition: 0.5s;
}

.burger_item::before, 
.burger_item::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #ffffff;
  transition: 0.5s;
}

.burger_item::before{
  top:-16px;
}

.burger_item::after{
  top:16px;
}

.burger:hover .burger_item{
  background-color: transparent;
}

.burger:hover .burger_item::before{
  top:0;
  transform: rotate(45deg);
}

.burger:hover .burger_item::after{
  top:0;
  transform: rotate(135deg);
}

.drop:hover .navbar{
  display: block;
  position: absolute;
  background-color: rgb(172, 170, 170);
}


}